
@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,800);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
/*Navbar*/

.navbar-dark{
    background-color: #000 !important;
    font-family: 'Raleway', Arial, sans-serif;
    
}
.nav{
    width: 100%;
    justify-content: flex-end;
    height: 100%;
    
}

.collapse{
    padding-top:0.1rem;
    padding-right: 1rem;
    padding-bottom: 0.1rem;
    padding-left: 1rem;
}


.active,
.active > a:hover, 
.active > a:focus{
    background-color: rgb(96, 166, 206);
    height: 100%;
    width: 100%;

}

/* Contactos */

#divHorario {
    width: 350px;
    margin-right: 150px;
    text-align: center;
    background-color: white;
    color:Black;
    height: 300px;

}

#divTemario {
    width: 350px;
    text-align: center;
    background-color: white;
    height: 300px;
}


section {
    padding: 10px 0;
}

section .section-title {
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
}



#team2 .card {
    border: none;
    border: 2px solid #ccc;

}

#team3 .card{
    border: none;
    background-color: #fff;
}


/*Formacion*/
#fondoDiv{
    background-image: url(libro.jpg);
}

.view {
	background-position: center center;
	background-repeat: no-repeat;
}

section{
    float:left;
    width:100%;
    background: #fff;  /* fallback for old browsers */
    padding:10px 0;
}

.profile-card-5{
    margin-top:20px;
}
.profile-card-5 .btn{
    border-radius:2px;
    text-transform:uppercase;
    font-size:12px;
    padding:7px 20px;
}


.profile-card-5 h5{
    color:#4E5E30;
    font-weight:600;
}
.profile-card-5 p{
    font-size:14px;
    font-weight:300;
}
.profile-card-5 .btn-primary{
    background-color:#4E5E30;
    border-color:#4E5E30;
}

#proy{
    font-size: 30px;
    text-align: center;
    font-family: 'Raleway', Arial, sans-serif;


}

#card1 {
	text-align: left;
	padding: 50px 50px;
    color:rgb(128, 125, 125);
    font-family: 'Raleway', Arial, sans-serif;
    border: 2px solid;
    }

#card1 .content {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 15px 25px 15px;
}


#card1::after {
  position: absolute;
  display: block;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  content: '';
  top: 5px;
  left: 5px;
  z-index: 1;
  border-radius: 2px;
} 



.card1 {
    position: relative;
    box-shadow: 0 1px 3px 0 #d4d4d5,0 0 0 1px #d4d4d5;
    transition: box-shadow 0.1s ease, transform 0.1s ease;
    margin-bottom: 30px;
  }
  .card1 {
    height: auto;
    width: auto;
    margin: 25px;
    float: left;
  }

 #card2{
    padding: 50px 50px;
    color: white;
    font-family: Georgia,Times,Serif;
    border: 2px solid;
    width: 1000px;
 }

  ul{
    list-style: none;
  }

  #proyTit{
      color: rgb(70, 67, 67);
      font-weight: bold;
      text-align: center;
  }
    #desc{
        font-size: 23px;
        text-align: left;
    }

    #info{
        font-weight: bold;
        color:rgb(87, 83, 83);
    }

/*Contactos*/
    
    .firstinfo {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    float: left;
    margin: 15px 6%;
    min-width:auto;
    max-width: auto;
    max-height: 240px;
    width: 90%;
    display: flex;
    height: 100%;
    background: #ffffff;
  }
  .firstinfo .jj {
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background: #ffffff;
  }
  .firstinfo .jj h2,
  .firstinfo .jj  p {
    margin: 0;
    color: #000000;
    text-align: left;
    padding: 10px 0 10px 0px;
    margin: auto;
  }
  .firstinfo .jj h2 {
    font-size: 1.3em;
    bottom: 50%;
    right: 0;
    font-weight: 300;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  .firstinfo .jj h2 span {
    font-weight: 800;
  }
  .firstinfo .jj p {
    top: 50%;
    font-size: 0.9em;
    opacity: 0.8;
  }

  .firstinfo .img-fluid {
    width: 200px;
    height: 200px;
    margin-right: 50px;
    margin-top: 15px;
    border-radius: 50%;
    
  }

  /*Menu recomendacion*/

/* Tabs panel */
    .tabbable-panel {
    padding: 10px;
    margin-top: 20px;
    font-family: 'Raleway', Arial, sans-serif;
  }
  .tabbable-line > .nav-tabs > li {
    margin-right: 2px;
  }
 
  .tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
    border-bottom: 4px solid #fbcdcf;
  }
 
 
  .tabbable-line > .nav-tabs > li.active {
    border-bottom: 4px solid rgb(96, 166, 206);
    position: relative;
  }
  
  .tabbable-line > .tab-content {
    margin-top: -3px;
    background-color: #fff;
    border: 0;
    border-top: 1px solid #eee;
    padding: 15px 0;
  }
  .portlet .tabbable-line > .tab-content {
    padding-bottom: 0;
  }
  
  .nav-link{
      color:rgb(73, 71, 71);
  }

  #nav2{
    justify-content: flex-start;

  }
  #cero{
      font-weight: bold;
  }
  #resp{
      margin-top: 60px;
      text-align: left;
  }

  .pExpli{
      font-size: 16px;
      text-align: center;
      padding-left: 60px;
      padding-right: 60px;
  }
  .explitit{
      font-size: 31px;
      margin-left: 20px;
      text-align: center;
      padding-bottom: 30px;
      padding-top: 10px;
  }

  .img2{
      width: 19px;
      height: 19px;
      margin-right: 13px;
  }


   #lista_custom:before {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 17px;
    float: left;
    margin-top: 0px;
    margin-left: -17px;
    margin-right: 0px;
    color: #388136;
}
